rules_version = '2';
service cloud.firestore {
  // Main database
  match /databases/{database}/documents {
    // Users
    match /users/{user} {
      // Uid directory
    	allow read: if request.auth != null
      allow write: if request.auth.uid == user
      // uid subdirectories
      match /{doc=**} {
      	allow read, write: if request.auth.uid == user
      }
    }
  }
}